<div class="navbar-wrapper" id="navwrap">
    <div class="container">

        <div class="navbar navbar-inverse navbar-static-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                    <img src="~/img/iconeSICS.jpg" width="30" height="30" class="d-inline-block align-top" />
                    SICS - Versão WEB </a>
                </div>
                <div class="navbar-collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-left">

                        @if (!(Convert.ToInt32(Session["Role"]) == 000))
                        {
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Estoque <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-header">Inclusão</li>
                                    <li>@Html.ActionLink("Adicionar Reagente", "Reagentes", "Cadastro")</li>
                                    <li>@Html.ActionLink("Adicionar Frasco", "Frasco", "Cadastro")</li>
                                    <li>@Html.ActionLink("Adicionar Fabricante", "Fabricante", "Cadastro")</li>
                                    <li>@Html.ActionLink("Adicionar Órgão Controlador", "Orgao", "Cadastro")</li>
                                    <li class="divider disabled"></li>
                                    <li class="dropdown-header">Pesquisa</li>
                                    <li>@Html.ActionLink("Listar Reagentes", "ListarReagentes", "Operacoes")</li>
                                    <li>@Html.ActionLink("Listar Fabricantes", "ListaReagentes", "Operacoes")</li>
                                    <li>@Html.ActionLink("Listar Órgãos Reguladores", "ListaReagentes", "Operacoes")</li>
                                    <li>@Html.ActionLink("Listar Frascos", "ListaReagentes", "Operacoes")</li>
                                </ul>
                            </li>
                        }


                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Solicitações <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-header"> Pedidos</li>
                                <li>@Html.ActionLink("Solicitar Reagentes", "Pedidos", "Cadastro")</li>
                                <li>@Html.ActionLink("Minhas Solicitações", "ListarSoli", "Operacoes")</li>
                                @if (!(Convert.ToInt32(Session["Role"]) == 000))
                                {
                                    <li class="divider"></li>
                                    <li class="dropdown-header"> Gerenciar Pedidos</li>
                                    <li>@Html.ActionLink("Lista de Solicitações", "Pedidos", "Cadastro")</li>
                                }
                            </ul>
                        </li>

                        @if (Convert.ToInt32(Session["Role"]) == 111)
                        {
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Usuários <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Cadastrar Usuários", "Usuario", "Cadastro")</li>
                                    <li>@Html.ActionLink("Atualizar Registro de Usuário", "AtualizarUsuario", "Operacoes")</li>
                                    <li>@Html.ActionLink("Deletar Usuário", "DeletarUsuario", "Operacoes")</li>
                                   
                                </ul>
                            </li>

                        }

                    </ul>
                        <ul class="nav navbar-nav navbar-right">
                        <li class="nav-item">
                            <a href ="#" class="nav-item disabled"> Logado como: @Session["Name"].ToString() </a> </li>
                        <li class="nav-item" style="padding-right:50px">
                               <!--
                                //Html.ActionLink("Sair", "Logout", "Auth", htmlAttributes: new {//style = "color:red" })
 
                                  -->

                               <a href="~/Auth/Logout" style="color:red"> Sair</a>
                        </li>
                        </ul>
                </div>
            </div>
        </div>

    </div>
</div>
