<div class="navbar-wrapper" id="navwrap">
    <div class="container">

        <div class="navbar navbar-inverse navbar-static-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                    <img src="~/img/iconeSICS.jpg" width="30" height="30" class="d-inline-block align-top" />
                    SICS - Versão WEB </a>
                </div>
                <div class="navbar-collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Estoque <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-header">Inclusão</li>
                                <li><<img src="~/img/user_img_addreag.png" width="15" height="15" class="d-inline-block allign-top"/>
                                    @Html.ActionLink("Adicionar Reagente", "Reagentes", "Cadastro")</li>

                                <li>@Html.ActionLink("Adicionar Frasco", "Frascos", "Cadastro")</li>
                                <li>@Html.ActionLink("Adicionar Fabricante", "Fabricante", "Cadastro")</li>
                                <li>@Html.ActionLink("Adicionar Órgão Controlador", "Orgao", "Cadastro")</li>
                                <li>@Html.ActionLink("Adicionar Local de Armazenamento ", "Local", "Cadastro")</li>
                                <li class="divider disabled"></li>
                                <li class="dropdown-header">Pesquisa</li>
                                <li>@Html.ActionLink("Listar Reagentes", "ListaReagentes", "Operacoes")</li>
                                <li>@Html.ActionLink("Listar Fabricantes", "ListaReagentes", "Operacoes")</li>
                                <li>@Html.ActionLink("Listar Órgãos Reguladores", "ListaReagentes", "Operacoes")</li>
                                <li>@Html.ActionLink("Listar Frascos", "ListaReagentes", "Operacoes")</li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Solicitações <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-header"> Pedidos</li>
                                <li>@Html.ActionLink("Solicitar Reagentes", "Pedidos", "Cadastrar")</li>
                                <li>@Html.ActionLink("Minhas Solicitações", "Pedidos", "Cadastrar")</li>
                                <li class="divider"></li>
                                <li class="dropdown-header"> Gerenciar Pedidos</li>
                                <li>@Html.ActionLink("Lista de Solicitações", "Pedidos", "Cadastrar")</li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Usuários <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Cadastrar Usuários", "Usuario", "Cadastro")</li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li class="dropdown-header">Nav header</li>
                                <li><a href="#">Separated link</a></li>
                                <li><a href="#">One more separated link</a></li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            
                            @Html.ActionLink("Sair","Logout","Auth")

                            
                        
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>
