@model SICS___WEB_2._0.Models.ViewModels.LoginViewModel


<!DOCTYPE html>

<link href="@Url.Content("~/css/AuthStyle.css")" rel="stylesheet">
<link href="@Url.Content("~/css/bootstrap.css")" rel="stylesheet">
<link href="@Url.Content("~/css/bootstrap.min.css")" rel="stylesheet">


<body id="LoginForm">

    @if (Model != null && Model.invalidCredentials)
    {
    <div class="modal fade" id="invalidModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true"></span><span class="sr-only">Fechar</span></button>
                    <h4 class="modal-title"> Erro</h4>
                </div>

                <div class=" modal-body">
                    <p>Credenciais Incorretas</p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>

    }
    <div class="container">
        <div class="login-form">
            <div class="main-div">


                <div class="panel">
                    <h2>SICS - SISTEMA INTEGRADO DE CONTROLE DE SUBSTÂNCIAS</h2>
                </div>

                @using (Html.BeginForm("Login", "Auth", FormMethod.Post))

                {

                    @Html.ValidationSummary(true)

                    @Html.TextBoxFor(a => a.Username, htmlAttributes: new

               {
                   @class = "form-control",
                   @placeholder = "Login",
               })

                    @Html.ValidationMessageFor(a => a.Username, "", htmlAttributes: new { @class = "text-danger" });

                    <br />

                    @Html.PasswordFor(a => a.Password,
           htmlAttributes: new

           {
               @class = "form-control",
               @placeholder = "Senha",
           })

                    <br />

                    @Html.ValidationMessageFor(a => a.Password, "", htmlAttributes: new { @class = "text-danger" });



                    <br />

                    <div>@Html.CheckBoxFor(a => a.Lembrar, "")Lembrar-me</div>
                    <button type="submit" class="btn btn-primary" id="enviar"> Entrar</button>
                }

            </div>
        </div>
    </div>

    <script>
        window.onload = exibeModal();
        function exibeModal() {
            $("#invalidModal").modal();
            
        }
            

        
    </script>







</body>
